  /* section {
    width: 100%;
    padding: 0 20px;
  } */
  
  article {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  img {
    width: 400px;
    height: 550px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
  } 
  
  button:hover {
    background-color: #0055ff;
  } 
  